/* OneBite 카테고리에 대한 스타일 */

.form {
  display: flex;
}
.searchInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}
.searchButton {
  width: 100px;
  margin-left: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  border: none;
  outline: none;
  color: var(--black);
  background-color: #f1c40f;
  cursor: pointer;
  transition: 0.5s;
}
.searchButton:hover {
  background-color: #e6b70c;
}
