.container {
  display: flex;
  background-color: #ffeaa7;
  padding: 10px;
  border-bottom: 2px solid #f6e58d;
}
.list {
  list-style: none;
  max-width: 800px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.item {
  padding: 1px 4px;
  transition: 0.5s;
  border-bottom: 2px solid transparent;

  & + & {
    margin-left: 10px;
  }
  &:hover {
    border-bottom: 2px solid #fdcb6e;
  }
}
